/* ==========================================================
   COLLEGE HEADER DESIGN
========================================================== */


.college-header{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:25px;

    margin-top:10px;
    margin-bottom:10px;

}


.college-logo{

    width:140px;
    height:140px;

    border-radius:50%;

    background:white;

    padding:8px;

    box-shadow:
    0 0 25px #00ffff;

}



.college-name{

    font-size:60px;

    font-weight:1000;

    letter-spacing:3px;

    text-align:center;


    background:

    linear-gradient(
    90deg,
    #00ffff,
    #ffffff,
    #00eaff
    );


    -webkit-background-clip:text;

    -webkit-text-fill-color:transparent;


    text-shadow:

    0 0 15px #00ffff,
    0 0 30px rgba(0,255,255,0.8);


}




.college-subtitle{


    text-align:center;

    margin-top:10px;

    font-size:28px;

    font-weight:600;

    color:white;


    text-shadow:

    2px 2px 8px black;

}



/* Location line */

.location{

    margin-top:20px;

    font-size:25px;

    font-weight:bold;

    color:white;

    text-align:center;


}





/* ==========================================================
 PROJECT TITLE
========================================================== */


.project-title{


    margin-top:35px;

    text-align:center;


    font-size:52px;


    font-weight:900;


    color:#00ffff;


    text-shadow:

    0 0 10px black,
    0 0 20px #00ffff;


}




.project-subtitle{


    text-align:center;

    font-size:30px;

    margin-top:12px;

    font-weight:bold;

    color:white;


    text-shadow:

    2px 2px 10px black;


}





.developer-name{


    margin-top:18px;

    text-align:center;


    font-size:25px;


    color:white;


}


.developer-name span{


    color:#00ffff;

    font-weight:bold;


}
