<!DOCTYPE html>

<html>

<head>

<title>
AI College Admission System
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="overlay">


<div class="header">


<!-- ==========================
     COLLEGE HEADER
========================== -->

<div class="college-header">


<img src="/static/images/piet_logo.png"
class="college-logo">



<div>


<h1 class="college-name">

Panipat Institute Of Engineering And Technology

</h1>



<p class="college-subtitle">
📍 Panipat, Haryana
</p>


</div>


</div>


<!-- ==========================
     PROJECT TITLE
========================== -->


<h2 class="project-title">

🎓 AI College Admission Approval System

</h2>


<h3 class="project-subtitle">

Machine Learning Admission Prediction

</h3>


<p class="developer-name">
Developer :
<span>Manya Singla</span>
</p>


 <!-- ============================= -->
<!-- STUDENT DETAILS BUTTONS -->
<!-- ============================= -->


<div class="menu">


<button onclick="showSection('basic')">
👤 Basic Details
</button>



<button onclick="showSection('academic')">
📚 Academic Analysis
</button>



<button onclick="showSection('entrance')">
🎯 Entrance Analysis
</button>



<button onclick="showSection('college')">
🏫 College Matching
</button>



<button onclick="showSection('verification')">
✅ Verification
</button>



<button onclick="showSection('extra')">
💰 Scholarship Details
</button>



<button onclick="showSection('others')">
📌 Other Details
</button>


</div>




<!-- ============================= -->
<!-- BASIC DETAILS -->
<!-- ============================= -->


<div id="basic" class="section hidden">

    <h2>👤 Student Basic Details</h2>

    <div class="grid">

        <div class="form-group">
            <label>Age</label>
            <input id="Age" placeholder="Enter Age">
        </div>

        <div class="form-group">
            <label>Category</label>
            <select id="Category">
                <option>ST</option>
                <option>OBC</option>
                <option>SC</option>
                <option>EWS</option>
                <option>General</option>
            </select>
        </div>

        <div class="form-group">
            <label>Family Income</label>
            <input id="Family_Income" placeholder="Enter Family Income">
        </div>

    </div>

</div>



<!-- ============================= -->
<!-- ACADEMIC DETAILS -->
<!-- ============================= -->


<div id="academic" class="section hidden">

    <h2>📚 Academic Details</h2>

    <div class="grid">

        <div class="form-group">
            <label>Class 10 Percentage</label>
            <input id="Class10_%" placeholder="Enter Class 10 Percentage">
        </div>

        <div class="form-group">
            <label>Class 12 Percentage</label>
            <input id="Class12_%" placeholder="Enter Class 12 Percentage">
        </div>

        <div class="form-group">
            <label>PCM Percentage</label>
            <input id="PCM_%" placeholder="Enter PCM Percentage">
        </div>

    </div>

</div>




<!-- ============================= -->
<!-- ENTRANCE DETAILS -->
<!-- ============================= -->

<div id="entrance" class="section hidden">

    <h2>🎯 Entrance Exam Details</h2>

    <div class="grid">

        <div class="form-group">
            <label>Entrance Exam</label>
            <select id="Entrance_Exam">
                <option>CUET</option>
                <option>JEE Main</option>
                
                
            </select>
        </div>

        <div class="form-group">
            <label>JEE Percentile</label>
            <input id="JEE_Percentile" placeholder="Enter JEE Percentile">
        </div>

        <div class="form-group">
            <label>JEE Rank</label>
            <input id="JEE_Rank" placeholder="Enter JEE Rank">
        </div>

        <div class="form-group">
            <label>CUET Score</label>
            <input id="CUET_Score" placeholder="Enter CUET Score">
        </div>

    </div>

</div>


<!-- ============================= -->
<!-- COLLEGE DETAILS -->
<!-- ============================= -->

<div id="college" class="section hidden">

    <h2>🏫 College Preference Details</h2>

    <div class="grid">

        <div class="form-group">
            <label>Preferred Branch</label>
            <select id="Preferred_Branch">
                <option>AIE</option>
                <option>Civil</option>
                <option>Mechanical</option>
                <option>CSE</option>
                <option>ECE</option>
                
            </select>
        </div>

        <div class="form-group">
            <label>Preferred College</label>
            <select id="Preferred_College">
                <option>NIT Trichy</option>
                <option>Chitkara</option>
                <option>Thapar</option>
                <option>IIT Delhi</option>
            </select>
        </div>

        <div class="form-group">
            <label>College Type</label>
            <select id="College_Type">
                <option>Govt</option>
                <option>Private</option>
            </select>
        </div>

        <div class="form-group">
            <label>NIRF Rank</label>
            <input id="NIRF_Rank" placeholder="Enter NIRF Rank">
        </div>

        <div class="form-group">
            <label>College Tier</label>
            <select id="College_Tier">
                <option>Tier 1</option>
                <option>Tier 2</option>
                <option>Tier 3</option>
            </select>
        </div>

        <div class="form-group">
            <label>Branch Cutoff Rank</label>
            <input id="Branch_Cutoff_Rank" placeholder="Enter Branch Cutoff Rank">
        </div>

        <div class="form-group">
            <label>Available Seats</label>
            <input id="Available_Seats" placeholder="Enter Available Seats">
        </div>

        <div class="form-group">
            <label>Reservation Quota</label>
            <select id="Reservation_Quota">
                <option>SC</option>
                <option>OBC</option>
                <option>EWS</option>
                <option>ST</option>
                <option>General</option>
            </select>
        </div>

    </div>

</div>





<!-- ============================= -->
<!-- VERIFICATION DETAILS -->
<!-- ============================= -->

<div id="verification" class="section hidden">

    <h2>✅ Verification Details</h2>

    <div class="grid">

        <div class="form-group">
            <label>Documents Verified</label>
            <select id="Documents_Verified">
                <option>No</option>
                <option>Yes</option>
            </select>
        </div>

        <div class="form-group">
            <label>Interview Score</label>
            <input id="Interview_Score" placeholder="Enter Interview Score">
        </div>

        <div class="form-group">
            <label>Communication Score</label>
            <input id="Communication_Score" placeholder="Enter Communication Score">
        </div>

        <div class="form-group">
            <label>Aptitude Score</label>
            <input id="Aptitude_Score" placeholder="Enter Aptitude Score">
        </div>

    </div>

</div>




<!-- ============================= -->
<!-- SCHOLARSHIP DETAILS -->
<!-- ============================= -->

<div id="extra" class="section hidden">


<h2>
💰 Scholarship Details
</h2>



<div class="grid">


<div class="form-group">


<label>
Scholarship Applied
</label>


<select id="Scholarship_Applied">


<option>Yes</option>

<option>No</option>


</select>


</div>





<div class="form-group">


<label>
Scholarship Eligibility
</label>


<select id="Scholarship_Eligibility">


<option>Eligible</option>

<option>Not Eligible</option>


</select>


</div>



</div>


</div>
<!-- ============================= -->
<!-- OTHERS -->
<!-- ============================= -->

<div id="others" class="section hidden">


<h2>
📌 Other Details
</h2>



<div class="grid">


<div class="form-group">


<label>
Hostel Required
</label>


<select id="Hostel_Required">


<option>Yes</option>

<option>No</option>


</select>


</div>





<div class="form-group">


<label>
Admission Probability
</label>


<input id="Admission_Probability"
placeholder="Enter Admission Probability">


</div>





<div class="form-group">


<label>
Tuition Fee
</label>


<input id="Tuition_Fee"
placeholder="Enter Tuition Fee">


</div>



</div>


</div>
<button class="predict-btn" onclick="predictAdmission()">
    🚀 Predict Admission
</button>



<div class="result-box">

    <div id="result"></div>

</div>


<script src="/static/script.js"></script>


</body>

</html>
